<h1>Listing ads</h1>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Code details</th>
    <th>Ispublished</th>
    <th>Isapproved</th>
    <th>Expiry date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ads.each do |ad| %>
  <tr>
    <td><%= ad.user_id %></td>
    <td><%= ad.title %></td>
    <td><%= ad.code_details %></td>
    <td><%= ad.ispublished %></td>
    <td><%= ad.isapproved %></td>
    <td><%= ad.expiry_date %></td>
    <td><%= link_to 'Show', ad %></td>
    <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
    <td><%= link_to 'Destroy', ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ad', new_ad_path %>
